h1 {
  color: blue;
  style="background-color: gray;"
}

h2 {
  color: #f44242
}

p {
  color: orange
}



body {
background-image: url(https://www.iwantwallpaper.co.uk/images/galerie-official-superman-logo-pattern-superhero-dc-comics-childrens-wallpaper-sp9003-1-p3281-7390_image.jpg);
}
