* {
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
    overflow: hidden;
}

/*MY LINKS*/

a:link {
  color: black;
  text-decoration-line: none;
}

a:hover {
  color: red;
}

h1 {
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

/*My ROTATOR*/

#obj1:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*OTHER ELEMENTS*/

body {
  background-image: url("../Assets/Images/4266213-crazy-funny-wallpaper (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F02D9A;
  cursor: pointer;
}

.container-fluid {
  margin-top: 50px;
  margin-bottom: -50px;
}

.Abox {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% 25% 25% 25%;
  height: 950px;
}

.TO {
  font-family: tha_cool_kidzblack, monospace;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.TO h1 {
  font-size: 150px;
  position: absolute;
  left: 100px;
}

.SCHOOL {
  font-family: tha_cool_kidzblack, monospace;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.SCHOOL h1 {
  font-size: 150px;
  position: absolute;
  left: 100px;
}

.FOUR {
  font-family: tha_cool_kidzblack, monospace;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.FOUR h1 {
  font-size: 150px;
  position: absolute;
  left: 100px;
}

.COOL {
  font-family: tha_cool_kidzblack, monospace;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.COOL h1 {
  font-size: 150px;
  position: absolute;
  left: 100px;
}
