h1 {
  color: blue;
  style="background-color: gray;"
}

h2 {
  color: #f44242;
  font-size: 42px
}

p {
  color: #fff
}

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/eb/e5/85/ebe58566b2ed8fda8ed901e5ffe67a1f.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.container {}

.left {
width:100px;
float:left;
text-align:left;
}
.center {
width:100px;
float:left;
text-align:center;
}
.right {
width:100px;
float:left;
text-align:right;
}
